<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="/" >HOME</a></li>
			<li><a  target="_blank" href="https://www.linkedin.com/in/viniciusaamorim/">LINKEDIN</a></li>
			<li><a target="_blank" href="https://github.com/3vinicius">GITHUB</a></li>
		</ul>
		<div class="search">
			<input type="text" name="" id="" placeholder="Buscar" [(ngModel)]="nameGame">
			<span class="material-symbols-outlined" (click)="searchName()">
				search
			</span>
		</div>
	</div>
</div>
